/* YouTube Section */
.youtube-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  background-color: #ff0000;
  padding: 3.4rem;
  width: 80%;
  margin: 0 auto;
}

.youtube-section .content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 1.8rem;
  max-width: 100rem;
  width: 100%;
}

.youtube-section .video-container {
  flex: 1;
  width: 100%;
  height: 15rem;
}

.youtube-section .video-container iframe {
  border-radius: 0.3rem;
}

.youtube-section .text {
  flex: 1;
  padding: 2rem;
  max-width: 42rem;
  background-color: #fff;
  color: #000;
}

.youtube-section h2 {
  margin: 0;
  font-size: 2.3rem;
  font-weight: bold;
}

.youtube-section p {
  margin: 1.4rem 0;
  font-size: 1.3rem;
}

.youtube-section .btn {
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  display: inline-block;
  padding: 1rem 2.4rem;
  color: #fff;
  background-color: #ff0000;
  text-decoration: none;
  border-radius: 0.4rem;
  font-weight: bold;
  transition: background 0.3s;
}

.youtube-section .btn:hover {
  background-color: #e00404;
}
/* END YouTube Section */
