/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

/* Navigation */
.mainNavigation {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem 0;
  width: 100%;
  z-index: 1000;
  background-color: #333;
}

.logo {
  color: #fff;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
}

.mainNavigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0;
  margin: 0;
}

.mainNavigation li {
  margin: 0 1.1rem;
}

.mainNavigation a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin: 0;
}

.icon {
  width: 2.5rem;
  height: auto;
  transition: transform 0.3s ease;
}

.social-links-container {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px;
  transition: 0.4s;
}

/* Media Queries */
@media (max-width: 768px) {
  .mainNavigation {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .mainNavigation ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    padding-top: 1rem;
    background-color: rgba(51, 51, 51, 0.9);
    transition: left 0.3s ease;
    z-index: 1001;
  }

  .mainNavigation ul.active {
    left: 0;
  }

  .hamburger {
    display: flex;
  }

  .social-links-container {
    margin: 1rem 0;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/* END Navigation */

/* Footer */
.footer {
  background-color: #333; /* Dark background */
  color: #fff; /* White text */
  padding: 1.8rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.1rem;
}

.social-links {
  display: flex;
  gap: 1.8rem;
  justify-content: center;
}

.social-links li {
  list-style-type: none;
}

.icon:hover {
  transform: scale(1.1); /* Icon hover effect */
}

.footer-links {
  margin-top: 1.7rem;
}

.footer .footer-links > span,
a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}
/* END Footer */
