/* Other Players Section */
.other-players {
  text-align: center;
  padding: 1.8rem;
  background-color: #f8f2f2;
  margin: 1rem auto;
}

.other-players h2 {
  font-size: 2rem;
  color: #222;
  margin-bottom: 1.25rem;
}

.players-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.25rem, 1fr));
  gap: 0.8rem;
  justify-content: center;
}

.player-card-small {
  background: #fff;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
  text-align: center;
}

.player-card-small img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.player-card-small h3 {
  font-size: 1.3rem;
  margin-top: 0.6rem;
  color: #222;
}

.player-card-small p {
  font-size: 1.2rem;
  color: #666;
}
