# Enable Rewrite Engine
RewriteEngine On

# Protect specific folders
#<DirectoryMatch "^.*(includes|config|private)/">
    #  Order deny,allow
    #  Deny from all
#</DirectoryMatch>

# Prevent directory listing
Options -Indexes

# Serve .html and .php files normally
AddType application/x-httpd-php .html .php

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
